<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: monospace;background-color: gray;text-align: center;">
    <form action="{% url 'createuser' %}" method="post">
        <h1> Please Create Your Account</h1>
        {% csrf_token %}
        {{form.as_p}}
        <label for="create"> Create My Account </label>
        <input type="submit" value="Create" name="create">
        <a href="{% url 'auth' %}">Back to Login</a>
      </form>
</body>
</html>