<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Plaese follow below Instructions</h1>
    <p>Username  : Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
    <p> password : Your password can’t be too similar to your other personal information.</p>
    <p>          : Your password must contain at least 8 characters.</p>
    <p>          : Your password can’t be a commonly used password.</p>
    <p>          : Your password can’t be entirely numeric.</p>
    <input type=button value="Back" onClick="javascript:history.go(-1);">

</body>
</html>