<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:gray;text-align: center;">
    <h1 style="font-weight: lighter;" > Hi , This is Nikhil </h1>


<pre style="font-weight: lighter;font-size: small;font-family: monospace;">
    As a recent graduate and gearhead,I have always been fascinated by the limitless possibilities that the

     digital world presents.I have taken it upon myself to learn and master the various tools and technologies that are essential to developing cutting-edge

     websites and applications.I have honed my skills in Python, Django framework, among other programming languages, and have even developed and deployed a

     website from scratch.My passion for web development has enabled me to continuously update my skills and stay on top of emerging trends in the field.

    With my problem solving skills and stoic attitude,I am confident that I would make a valuable addition to your team, bringing in not only technical skills

     but also a positive attitude and strong work ethic.
    </pre>


    <p> Email : primus.dasari@gmail.com </p>

<p style="height: 10px;"></p>


    <a href="{% url 'auth' %}" style="display: block;"> Dailyroutine2023 ( Myproject )</a>

<p style="height: 0px;"></p>


    <a href="https://drive.google.com/file/d/14PJ8AZP4buNq-8d19Eh2b0o_dBJBgCbh/view?usp=share_link" style="display: block;">Resume</a>
             
<p style="height: 0px;"></p>


    <a href="https://github.com/NIKHILDSARI" style="display: block;">Github</a>

    <p style="height: 0px;"></p>

    

    <a href="https://www.linkedin.com/in/nikhildasari30/?originalSubdomain=in"> LinkedIn </a>  

</body>

</html>


