<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'Exerciseshome' %}?id=0" method="post">
        {% csrf_token %}
    <h1>Hi {{user}} Let's Go!!!</h1>
    <label for="setroutine">Set Your Workout Routine :</label>
    <input type="submit" value="Set Routine" name="setroutine">
</form>

<form action="{% url 'Exerciseshome' %}?id=1" method="post">
    {% csrf_token %}
     <label for="startworkout">Start Workout : </label>
     <input type="submit" value="Start Logging" name="startworkout">
</form>


 
</body>
</html>