<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: monospace;background-color: gray;text-align: center;">
    <h1 style="font-weight: lighter;">{{fromtrgtworkout}}</h1>
    <p>workout1: {{workouts.workout1}}</p>
    <p>workout2: {{workouts.workout2}}</p>
    <p>workout3: {{workouts.workout3}}</p>
    <p>workout4: {{workouts.workout4}}</p>

</body>
</html>