<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: monospace;background-color: gray;">

    <a href="{% url 'logexercises' %}">Back</a>

    <form action="{% url 'workoutlogger' selected_exercises='workouttt' %}" method="post">
        <h1 style="font-weight: lighter;">{{exercises}}</h1>
        {% csrf_token %}
        {{ Workoutlog.as_p }}
        <input type="hidden" name="bodypart" value="{{ bodypart }}">
        <input type="hidden" name="exercises" value="{{exercises}}">
        <input type="submit" value="Upload" style="background-color: gray;">
    </form>

</body>
</html>


