<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: monospace;text-align: center;background-color: gray;">
    <h1 style="font-weight: lighter;">{{message}}</h1>
    <p>Set1(weight): {{workout_inst.set1_weight_inkg}}</p>
    <p>Set1(reps): {{workout_inst.set1}}</p>

    <p>Set2(weight): {{workout_inst.set2_weight_inkg}}</p>
    <p>Set2(reps): {{workout_inst.set2}}</p>

    <p>Set3(weight): {{workout_inst.set3_weight_inkg}}</p>
    <p>Set3(reps): {{workout_inst.set3}}</p>

    <p>Set4(weight): {{workout_inst.set4_weight_inkg}}</p>
    <p>Set4(reps): {{workout_inst.set4}}</p>

</body>
</html>