<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: monospace;text-align: center;background-color: gray;">
    <a href="{% url 'foodroutine-history' %}" style="font-weight: bolder;"> Back </a>
    <h1 style="font-weight: lighter;">{{user_required_meal}} targets you have set to fallow</h1>
    
    {% csrf_token %}
    {% for key, item in context.items %}
        <h1 style="font-weight: lighter;">{{ item.date }}</h1>
        <p>{{user_required_meal}} : {{ item.meal }}</p>
        <p>Calories : {{ item.calories }}</p> 

    {% endfor %}
</body>
</html>