<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="font-family: monospace;text-align: center;background-color: gray;">
    <form action="{% url 'log'  meal_name='savedmeal' %}" method="post">
    <a href="{% url 'homepage' %}" style="font-weight: bolder;"> Back </a>

        {% csrf_token %}
    <h1 style="font-weight: lighter;">Your {{meal}} is Saved </h1>
    <p>Saved Meal : {{recipe}}</p>
    <p>Calories : {{calories}}</p>
</form>

</body>
</html>